{% extends "layout.twig" %}
{% block content %}
    <style>
        .section-content form.form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
    </style>

<div class="section article">
<div class="inner">
<div class="section-content no-header">

    <div style="text-align:center">
        <h2>Join the {{ team_name }} Slack team!</h2>
        <a href="{{ team_url }}"><img src="{{ logo_url }}"></a>
    </div>

    <form class="form-signin" action="{{ path_for('submit') }}" method="post">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">

        <div class="form-group">
            <label>Email address (required)</label>
            <input type="email" class="form-control" placeholder="xxx@xxx.xxx" required autofocus name="email"
                   value="{{ email }}">
            <span style="color:red;">{{ error_list.email }}</span>
        </div>

        <div class="form-group">
            <label>First name (required)</label>
            <input type="text" class="form-control" placeholder="John" required name="first_name"
                   value="{{ first_name }}">
            <span style="color:red;">{{ error_list.first_name }}</span>
        </div>

        <div class="form-group">
            <label>Last name (required)</label>
            <input type="text" class="form-control" placeholder="Doe" required name="last_name" value="{{ last_name }}">
            <span style="color:red;">{{ error_list.last_name }}</span>
        </div>

        <button class="button" type="submit">Join {{ team_name }}</button>
    </form>

    <hr>
    <div style="text-align:right">
        <small>Do you want to check the code? <a href="https://github.com/uzulla/slack-auto-invitation-form.php">github/uzulla/slack-auto-invitation-form.php</a>
        </small>
    </div>

</div>
</div>
</div>

{% endblock %}
